@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --orange: #F87070;
    --cyan: #70f3f8;
    --puple: #D881F8;
    --ash: #D7E0FF;
    --blue-black: #1E213F;
    --white: #FFFFFF;
    --off-white: #EFF1FA;
    --navy-blue: #161932;
}
html{
    scroll-behavior: smooth;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", "sans-serif";
}
body{
    width: 100%;
    background-color: var(--blue-black);
    text-align: center;
}
.container{
    margin-top: 30px;
}
div.header{
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
    margin: 30px;
}
div.timer-length{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--off-white);
    background-color: var(--navy-blue);
    width: 23%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
div.pomodoro, div.short-break, div.long-break{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    margin: auto;
    border-radius: 30px;
    font-weight: 600;
}
div.pomodoro{
    background-color: var(--orange);
    color: #161932;
}
div.outer-circle{
    width: 400px;
    height: 400px;
    background: linear-gradient(310deg, var(--blue-black) 30%, var(--navy-blue) 70%);
    border-radius: 50%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 50px 15px #303456, 5px 5px 50px 10px #0b0e2d;
}
div.second-outer-circle{
    width: 360px;
    height: 360px;
    background-color: var(--navy-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.progress-circle{
    width: 330px;
    height: 330px;
    /* background-color: var(--orange); */
    background: conic-gradient(var(--orange) 3.6deg, var(--navy-blue) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.inner-circle{
    width: 310px;
    height: 310px;
    background-color: var(--navy-blue);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.main-text{
    font-family: "Roboto Slab";
    font-size: 100px;
    color: var(--white);
    margin: 20px auto;
}
div.alert-text{
    font-size: 20px;
    color: var(--white);
    letter-spacing: 10px;
}
.settings-gear{
    background-color: var(--blue-black);
    border: none;
    cursor: pointer;
}
.fa-gear{
    color: var(--off-white);
    font-size: 30px;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--white);
    /* padding: 25px; */
    max-width: 600px;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
.popup .popup-header{
    display: flex;
    align-items: center;
    margin: 25px;
}
.popup .popup-header .settings-text{
    font-size: 28px;
    font-weight: 600;
}
.popup .popup-header .close-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
}
.popup .popup-header .close-btn i{
    color: rgb(218, 218, 218);
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #ccc;
}
.hr-header{
    width: 100%;
}
.middle-hr, .bottom-hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
div.subheader, div.font-label, div.select-color{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    display: flex;
    margin-left: 5%;
    margin-bottom: 25px;
}
form{
    display: flex;
    width: 90%;
    margin: 30px auto;
}
div > label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #ccc;
}
div.pomodoro-div, div.short-break-div, div.long-break-div{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
input[type=number]{
    width: 160px;
    height: 50px;
    border: none;
    background-color: var(--off-white);
    border-radius: 8px;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
.select-fonts, .select-color{
    display: flex;
    margin-top: 40px;
}
div.select-color{
    margin-bottom: 40px;
}
div.font-label, div.select-color{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 40px;
}
div.select-font-btn, div.select-color-btn{
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
}
button.kumbh-sans, button.roboto-slab, button.space-mono, button.orange-color, button.cyan-color, button.light-purple{
    width: 40px;
    height: 40px;
    font-size: 17px;
    border: none;
    margin-left: 20px;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--off-white);
}
button.kumbh-sans{
    background-color: black;
    color: var(--white);
    font-family: "Kumbh Sans", "sans-serif";
    font-weight: 600;
}
button.roboto-slab{
    font-family: "Roboto Slab";
    color: #333;
}
button.space-mono{
    font-family: "Space Mono";
    color: #333;
}
button.orange-color{
    background-color: var(--orange);
}
button.cyan-color{
    background-color: var(--cyan);
}
button.light-purple{
    background-color: var(--puple);
}
button.apply{
    width: 150px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 38%;
    bottom: -5%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}