@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --orange: #F87070;
    --cyan: #70f3f8;
    --puple: #D881F8;
    --ash: #D7E0FF;
    --blue-black: #1E213F;
    --white: #FFFFFF;
    --off-white: #EFF1FA;
    --navy-blue: #161932;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--blue-black);
    color: var(--white);
}

.header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: var(--off-white);
    font-weight: 900;
    margin: 45px;
}

.timer-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #505673;
    background-color: var(--navy-blue);
    width: 420px;
    height: 60px;
    border-radius: 40px;
    font-weight: 600;
    z-index: 10;
}

.pomodoro,
.short-break,
.long-break {
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pomodoro {
    background-color: var(--orange);
    color: var(--blue-black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    border-radius: 25px;
}

.circle,
.outer-circle,
.progress-circle,
.inner-circle,
.shadow {
    display: flex;
    align-items: center;
    justify-content: center;

}

.shadow {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: -35px -28px 48px 11px rgba(51, 64, 140, 0.4), 10px 14px 26px 0px rgba(0, 0, 0, 0.3);
}

.circle {
    width: 400px;
    height: 400px;
    background-color: var(--blue-black);
    border-radius: 50%;
}

.outer-circle {
    width: 360px;
    height: 360px;
    background-color: var(--navy-blue);
    border-radius: 50%;
}

.progress-circle {
    width: 330px;
    height: 330px;
    background: conic-gradient(var(--orange) 260deg, var(--navy-blue) 0deg);
    border-radius: 50%;
}

.inner-circle {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 90px;
    margin: 5px;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 5px;
}
.alert-text-start,
.alert-text-pause,
.alert-text-restart{
    letter-spacing: 5px;
}
.alert-text-pause,
.alert-text-start {
    display: none;
}

.settings-icon .fa-gear {
    color: #656B8C;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.6);
    background-color: var(--white);
    color: var(--blue-black);
    padding: 25px;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
}

@media screen and (max-width: 449px) {
    body {
        width: 100%;
        max-width: 449px;
    }

    .header {
        font-size: 35px;
    }

    .timer-selector {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        color: #505673;
        width: 300px;
        height: 60px;
        border-radius: 40px;
        font-weight: 600;
        z-index: 10;
    }

    .pomodoro,
    .short-break,
    .long-break {
        width: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .shadow {
        width: 300px;
        height: 300px;
        /* border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: -35px -28px 48px 11px rgba(51, 64, 140, 0.4), 10px 14px 26px 0px rgba(0, 0, 0, 0.3);
    
        /* box-shadow: -11px -7px 45px 11px rgba(141, 174, 251, 0.11); */
        /* -webkit-box-shadow: 19px -4px 177px -68px #303456;
        -moz-box-shadow: 19px -4px 177px -68px #303456; */ 
    }
    .circle {
        width: 300px;
        height: 300px;
        background-color: var(--blue-black);
        border-radius: 50%;
    }
    .outer-circle {
        width: 270px;
        height: 270px;
        background-color: var(--navy-blue);
        border-radius: 50%;
    }
    
    .progress-circle {
        width: 240px;
        height: 240px;
        background: conic-gradient(var(--orange) 260deg, var(--navy-blue) 0deg);
        border-radius: 50%;
    }
    
    .inner-circle {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-color: var(--navy-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .timer {
        font-size: 65px;
        margin: 5px;
        font-family: "Roboto Slab", sans-serif;
    } 
    .popup{
        transform: translate(-50%, -50%);
        max-width: 340px;
    }
}